@import "./../../global.scss";

li {
  font-size: 18px;
  margin-right: 75px;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;

  &.active {
    background-color: $mainColor;
    color: white;
  }
}
